<div class="container p-5">
<figure class="text-center">
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    You
  </figcaption>
</figure>

<figure class="text-center">
  <blockquote class="blockquote">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Your coach
  </figcaption>
</figure>
</div>
